button,
div,
form,
input {
  margin: 10px;
}

p {
font-size: large;
font-weight: bold;
}

#add{
font-size: large;
color: maroon;
font-style: italic;
}

button {
  background-color: rgb(197, 227, 228);
  padding: 5px 15px;
  font-size: large;
  border-radius: 10%;
  border: 2px solid maroon;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  background-color: maroon; /* Green */
  color: white;
}

body{
  background-color: antiquewhite;
}

/* #gifs-appear-here {
  display: inline-block;
  display: grid;
} */